<% include partials/header %>

<link rel="stylesheet" href="stylesheets/landing.css">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>StaccatIO</h1>
                <h3>All your music teaching needs</h3>
                <hr>
                <a href="/teachers" class="btn btn-primary btn-lg"><i class="material-icons">queue_music</i> Get Started!</a>
            </div>
        </div>
    </div>
</div>

<script src="scripts/background.js"></script>

<% include partials/footer %>